@model DevitoWebsite.ViewModels.ForgotPasswordResetViewModel
@{
    ViewData["Title"] = " - Promena lozinke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h1>Promena lozinke</h1>
<p>Unesite novu lozinku koja će biti korišćena za pristup vašem nalogu. </p>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">




        @using (Html.BeginForm("ForgotPasswordResetPost", "Account"))
        {
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" type="text" class="form-control" disabled value="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-warning"></span>

            </div>

            <div class="form-group">
                <label asp-for="Password">Nova lozinka</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>

            </div>

            <input type="hidden" asp-for="@Model.Email" value="@Model.Email" />
            <input type="hidden" asp-for="@Model.Token" value="@Model.Token" />
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Promeni lozinku" class="btn btn-success" />
            </div>

        }




    </div>
</div>
